@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-size: 16px;
    @apply dark:bg-black
}

/* split js */
  
.split {
    overflow-y: auto;
    overflow-x: hidden;
}
  
.gutter {
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}

/* storybook-ui */

.css-1wjen9k, .css-x6963h, .css-x6963h {
    margin: 0px !important;
}

.css-3zww90 {
    background: ghostwhite !important;
}

.sidebar-subheading {
    letter-spacing: normal !important;
    margin: 0 !important;
    padding: 2px 16px 2px 8px !important;
}

.css-1qkdgxq{
    margin: 0 !important;
}

.sidebar-item {
    padding: 8px !important;
}

.css-79elbk {
    padding: 4px 8px !important;

}

.css-79elbk .sidebar-item {
    padding: 4px!important;
    padding-left: 32px!important;
    border-radius: 4px;
}

#introduction--page {
    padding: 8px 4px!important;
}

.css-5k54e6-ButtonLink, .css-rsplmq-ButtonLink, .css-1jl0w7r-ButtonLink, .css-utd0w6-ButtonLink, .css-ojlz3t-ButtonLink {
    display: none !important;
} 